{% if site.category_tag_cloud %}
<section>
<h1>Categories</h1>
<span class='categories_tag'> <a href='/blog/categories/cocos2d' style='font-size: 106.0%'>Cocos2d(1)</a>  <a href='/blog/categories/game' style='font-size: 106.0%'>Game(1)</a>  <a href='/blog/categories/git' style='font-size: 106.0%'>Git(1)</a>  <a href='/blog/categories/gossip' style='font-size: 124.0%'>Gossip(4)</a>  <a href='/blog/categories/ios' style='font-size: 160.0%'>Ios(10)</a>  <a href='/blog/categories/life' style='font-size: 124.0%'>Life(4)</a>  <a href='/blog/categories/mac' style='font-size: 118.0%'>Mac(3)</a>  <a href='/blog/categories/notes' style='font-size: 148.0%'>Notes(8)</a>  <a href='/blog/categories/opengles' style='font-size: 106.0%'>Opengles(1)</a>  <a href='/blog/categories/social' style='font-size: 106.0%'>Social(1)</a>  <a href='/blog/categories/sublime' style='font-size: 106.0%'>Sublime(1)</a>  <a href='/blog/categories/tips' style='font-size: 124.0%'>Tips(4)</a> </span>
</section>
{% endif %}
