{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/cocos2d'>Cocos2d (1)</a></li>
  <li><a href='/blog/categories/game'>Game (1)</a></li>
  <li><a href='/blog/categories/git'>Git (1)</a></li>
  <li><a href='/blog/categories/gossip'>Gossip (4)</a></li>
  <li><a href='/blog/categories/ios'>Ios (10)</a></li>
  <li><a href='/blog/categories/life'>Life (4)</a></li>
  <li><a href='/blog/categories/mac'>Mac (3)</a></li>
  <li><a href='/blog/categories/notes'>Notes (8)</a></li>
  <li><a href='/blog/categories/opengles'>Opengles (1)</a></li>
  <li><a href='/blog/categories/social'>Social (1)</a></li>
  <li><a href='/blog/categories/sublime'>Sublime (1)</a></li>
  <li><a href='/blog/categories/tips'>Tips (4)</a></li>
</ul>
</section>
{% endif %}
