{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/categories/cfnetwork'>Cfnetwork (1)</a></li>
  <li><a href='/categories/cocos2d'>Cocos2d (1)</a></li>
  <li><a href='/categories/coredata'>Coredata (1)</a></li>
  <li><a href='/categories/game'>Game (1)</a></li>
  <li><a href='/categories/gcd'>Gcd (2)</a></li>
  <li><a href='/categories/git'>Git (1)</a></li>
  <li><a href='/categories/gossip'>Gossip (4)</a></li>
  <li><a href='/categories/ios'>Ios (13)</a></li>
  <li><a href='/categories/life'>Life (4)</a></li>
  <li><a href='/categories/mac'>Mac (3)</a></li>
  <li><a href='/categories/notes'>Notes (11)</a></li>
  <li><a href='/categories/opengl'>Opengl (1)</a></li>
  <li><a href='/categories/opengles'>Opengles (1)</a></li>
  <li><a href='/categories/reading'>Reading (1)</a></li>
  <li><a href='/categories/social'>Social (1)</a></li>
  <li><a href='/categories/sublime'>Sublime (1)</a></li>
  <li><a href='/categories/tips'>Tips (6)</a></li>
</ul>
</section>
{% endif %}
